.Calendar {
  border: 1px solid #ccc;
  background-color: #1d5adf;
  padding: 20px;
}

/* AppointmentForm component styles */
.AppointmentForm {
  margin-bottom: 20px;
  padding: 20 px;
  background-color: white;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.selectbutton{
  background-color: lightgreen;
  margin-top: 10px;
  margin-bottom: 10px;
}

.input
{
  background-color: white;
}

/* List of appointments styles */
.appointments-list {
  list-style-type: none;
  padding: 0;
}

.appointment-item {
  margin-bottom: 10px;
  color: #333;
}

/* Total appointments display styles */
.total-appointments {
  font-weight: bold;
  color: #008080;
}

/* Overall layout styles */
.CalendarView {
  padding: 20px;
  background-color: #e90000;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.initText {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-left: 10px;
}

.text {
  font-size: 15px;
  font-weight: bold;
  text-align: left;
}
