.card{
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(44, 44, 44, 0.609);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: fixed;
  bottom: 15vh;
  width: 25%;
  height: 50%;
  left: 37%;
  z-index: 100;
  padding: 1rem;
  align-items: center;
  border-radius: 10px;
  overflow-y: auto;
}

.modal::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  
}
.modal::-webkit-scrollbar-thumb {
  background-color: #afafaf;
  border-radius: 10px;
  min-height: 20px;
}

.modal::-webkit-scrollbar-thumb:hover {
  background-color: #8a8a8a;;
}