.forumList_container {
    padding: 1rem 3rem;
    background-color: rgb(229, 227, 221);
    box-shadow: inset 0 0 20px 10px rgba(0, 0, 0, 0.044);
    width: 40vw;
    height: 60vh;
    border-radius: 30px;
    margin-right: 3rem;
    overflow-y: scroll;
}