.indiForumContainer {
    position: relative;
}

.indiForum__BaseContent {
    display: block;
    padding: 0.5rem;
    margin: 1rem 0;
    width: 95%;
    background-color: rgba(244, 242, 237, 0.91);
    color: #3a3a3a;
    border: 1px solid #3a3a3a;
}

.forum-item:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
}

.forum-item__creator {
    font-size: 1rem;
    flex: 1;
    margin: 0 1rem;
}

.forum-item__headline {
    font-size: 2rem;
    margin: 0 1rem;
}

.forum-item__topic {
    font-size: 1.3rem;
    margin: 0 1rem;
}

.forum-item__initComment {
    font-size: 1rem;
    margin: 0 1rem;
}

.closeButton {
    position: fixed;
    bottom: 70px;
    left: 50%;
    z-index: 1;
}